.header-title {
    display : block;
    text-align: center;
    height: 90px;
    background-color: orange;
    background-image: url('../../assets/img/header-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}


.logo-handler{
    display: inline-block;
    width: auto;
}
.logo{
    width: 80px;
}

.title{
    display: inline-block;
    color: whitesmoke;

    margin-top: 0px;
}

* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #f07934;
  font-family: 'Segoe Print';
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: black;
}

.topnav a.active {
  background-color:red;
  color: white;
}

.topnav .login-container {
  float: right;
  //display: block;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-right: 100px;
  margin-bottom: 20px;
}

.topnav input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
}

.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

