<div>
  <div class="header-title">
    <div class="logo-handler">
      <img class="logo" src="assets/img/logo.png">
    </div>

    <div class="title">
      <h4>Welcome to Pizzeria</h4>
      <h3> SEMPRE TU!</h3>
    </div>



  </div>

  <div class="topnav">
    <div>
      <a class="active" routerLink="">Home</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>

    </div>

    <div>Total cost of order: </div>
    <div>{{cartTotalPrice | currency: 'EUR'}}</div>
    <a routerLink="cart">CART</a>

    <div *ngIf="(user)" class="login-container">
      <div>User: {{user.username}}</div>
      <button (click)="logout()">Logout</button>
    </div>
    <div *ngIf="(!user)" class="login-container">
      <form #userData=ngForm (ngSubmit)="login(userData.value)">
        <input type="text" placeholder="Username" name="username" ngModel>
        <input type="password" placeholder="Password" name="password" ngModel>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>

</div>