.text-page {
    overflow:hidden;
    overflow-y:scroll;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(179, 35, 10);
    width: 80%;
    height: 500px;
}

.picture {
    width: 500px;
    margin-left: auto;
    margin-top: auto;
    border-radius: 10px;
}

.text{
    color: white;
}
