<div class="collecting-pattern">
  <h2>Actually available {{category}}s:</h2>

  <div *ngIf="(!isAdminLogged)">

    <div class="product" *ngFor="let product of products; index as productIndex">
      <img class="product icon" [src]="product.icon">
      <div class="product text">
        <div class="product text name">{{product.name}}</div>
        <div class="product text description">{{product.description}}</div>
      </div>
      <div class="product buy-text">Click price to buy</div>
      <div class="product button" *ngFor="let price of product.priceOfSize; index as size">
        <div class="product button description">{{sizeService.getSizeNameForProduct(product, size)}}</div>
        <div class="product button clickable" (click)="addToCart(product, size)">{{price | currency: 'EUR'}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="(isAdminLogged)">
    <div><button (click)="addNewProduct()" class="add-button">ADD NEW {{category | uppercase}}</button></div><br>
    <div class="admin product"  *ngFor="let product of products; index as productIndex">
      <img class="product icon" [src]="product.icon">
      <div class="product text">
        <div class="product text name">{{product.name}}</div>
        <div class="product text description">{{product.description}}</div>
      </div>

      <div class="product button" *ngFor="let price of product.priceOfSize; index as size">
        <div class="product button description">{{sizeService.getSizeNameForProduct(product, size)}}</div>
        <div class="">{{price | currency: 'EUR'}}</div>
      </div>

      <div class="product button">
          <div (click)="goToDetails(product.id)" class="product button clickable">EDIT</div>
        </div>

      <div class="product button">
        <div (click)="deleteProduct(product.id)" class="product button clickable">DELETE</div>
      </div>

    </div>
  </div>

</div>