<div class="collecting-pattern">
  <h2>Orders:</h2>

  <div class="order" *ngFor="let order of orders; index as productIndex">
    <div class="product text">
      Order no: <b>{{order.id}}</b> <br>
      Name: {{order.firstName}} {{order.lastName}} <br>
      Address: {{order.street}}, {{order.zipCode}} {{order.city}} <br><br>
      Total Price: {{order.totalPrice | currency: 'EUR'}}
    </div>
    <div class="products-holder">
      <b>Products:</b>
      <ol>

        <li *ngFor="let productQuantity of order.productQuantities">
          ({{productQuantity.productVariant.product.category}}) {{productQuantity.productVariant.product.name}}
           size {{productQuantity.productVariant.size}} x {{productQuantity.quantity}}
        </li>
      </ol>
    </div>
  </div>


</div>