.menu {
    display: block;
    width:20%;
    height: 500px;
    background-color: red;
    text-align:center;
    background-image: url('../../assets/img/menu-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    font-size: 200%;
    color: yellow;
}

.categories {
    display: block;
}

.category {
    display: block;
    color: white;
    margin-top: 20%;
    cursor: pointer;
}

.category:hover{
    color:yellowgreen;
}