<div class="collecting-pattern">
  <div>Products in cart:</div>

  <div class="product" *ngFor="let productQuantity of productQuantities; index as productQuantityIndex">
    <img class="product icon" [src]="productQuantity.productVariant.product.icon">
    <div class="product text">
      <div class="product text name">{{productQuantity.productVariant
  .product.name}}</div>
      <div class="product text description">{{productQuantity.productVariant
  .product.description}}</div>
    </div>
    <div class="product buy-text">Size: {{productQuantity.productVariant
.size}}</div>
    <div class="product buy-text">Quantity: {{productQuantity.quantity}}</div>
    <div class="product buy-text">
      Price: {{productQuantity.quantity}} x {{productQuantity.productVariant
  .product.priceOfSize[productQuantity.productVariant
  .size] | currency: 'EUR'}} =
      <b>{{productQuantity.quantity * productQuantity.productVariant
  .product.priceOfSize[productQuantity.productVariant
  .size] | currency: 'EUR'}}</b>
    </div>
  </div>

  <div class="product buy-text">
    TOTAL PRICE: {{totalPrice}}
  </div>


</div>