<div class="collecting-pattern">
    <div>Products in cart:</div>
  
    <div class="product" *ngFor="let position of positions; index as positionIndex">
          <img class ="product icon" [src]="position.choice.product.icon">
      <div class="product text">
        <div class="product text name">{{position.choice.product.name}}</div>
        <div class="product text description">{{position.choice.product.description}}</div>
      </div>
      <div class = "product buy-text">Size: {{position.choice.size}}</div>
      <div class = "product buy-text">Quantity: {{position.quantity}}</div>
      <!-- <div class="product button" *ngFor="let price of product.priceOfSize; index as size">
        <div class="product button description">{{sizeNamesForProducts[productIndex][size]}}</div>
        <div class="product button clickable" (click)="addToCart(product, size)">{{price}}</div>
      </div> -->
    </div>
  
  
  
  </div>
