<div class="collecting-pattern">
  <div *ngIf="(productQuantities.length == 0)">Your cart is empty - feel free to order some delicious meal!</div>

  <div *ngIf="(productQuantities.length > 0)">

    <h2>Products in cart:</h2>

    <div class="product" *ngFor="let productQuantity of productQuantities; index as productQuantityIndex">
      <img class="product icon" [src]="productQuantity.productVariant.product.icon">
      <div class="product text">
        <div class="product text name">{{productQuantity.productVariant
          .product.name}}</div>
        <div class="product text description">{{productQuantity.productVariant
          .product.description}}</div>
      </div>
      <div class="product buy-text">Size: {{productQuantity.productVariant
        .size}}</div>
      <div class="product buy-text">Quantity: {{productQuantity.quantity}}</div>
      <div class="product buy-text">
        Price: {{productQuantity.quantity}} x {{productQuantity.productVariant
        .product.priceOfSize[productQuantity.productVariant
        .size] | currency: 'EUR'}} =
        <b>{{productQuantity.quantity * productQuantity.productVariant
          .product.priceOfSize[productQuantity.productVariant
          .size] | currency: 'EUR'}}</b>
      </div>
    </div>


    <h3>Delivery address:</h3>
    <form [formGroup]="cartForm" (ngSubmit)="confirmOrder()">
      <b class="address-text">First name:</b>
      <input class="address-input" type="text" formControlName="firstName" placeholder="First name"><br>
      <b class="address-text">Last name:</b>
      <input class="address-input" type="text" formControlName="lastName" placeholder="Last name"><br>
      <b class="address-text">Mobile:</b>
      <input class="address-input" type="text" formControlName="mobile" placeholder="Mobile"><br>
      <b class="address-text">City:</b>
      <input class="address-input" type="text" formControlName="city" placeholder="City"><br>
      <b class="address-text">Street:</b>
      <input class="address-input" type="text" formControlName="street" placeholder="Street"><br>
      <b class="address-text">Zip-Code:</b>
      <input class="address-input" type="text" formControlName="zipCode" placeholder="Zip-Code"><br>

      <div class="order">
        <div class="order inner">
          <div class="product buy-text">
            TOTAL PRICE: {{cartTotalPrice | currency: 'EUR'}}
          </div>

          <button type="submit" [disabled]="!cartForm.valid">ORDER</button>
        </div>
      </div>

    </form>

  </div>
</div>