.text-page {
    overflow:hidden;
    overflow-y:scroll;
    display: inline-block;
    vertical-align: top;
    background-color: beige;
    width: 80%;
    height: 500px;
}

.picture {
    width: 100%;
    margin-left: auto;
    margin-top: auto;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
