.collecting-pattern {
    overflow:hidden;
    overflow-y:scroll;
    display: inline-block;
    vertical-align: top;
    background-color: beige;
    width: 80%;
    height: 500px;
}

.details-input {
    width: 400px;
}

.details-input.price {
    width: 45px;
}

.details-text {
    font-size: 25px;
}

.details-input.description {
    height: 50px;

}