<div class="collecting-pattern">
  <h3>Product details:</h3>
  <form #details=ngForm (ngSubmit)="changeDetails(details.value)">
    <div class="details-text">Name:</div>
    <input class="details-input" type="text" name="name" value={{product?.name}} ngModel><br>

    <div class="details-text">Description:</div>
    <textarea class="details-input description" type="text" name="description" value={{product?.description}} ngModel></textarea><br>

    <div class="details-text">Is active:</div>
    True
    <input type="radio" name="isActive" value="true" [checked]="product?.isActive == true" ngModel>
    False
    <input type="radio" name="isActive" value="false" [checked]="product?.isActive == false" ngModel><br>

    <div class="details-text">Icon:</div>
    <input class="details-input" type="text" name="icon" value={{product?.icon}} ngModel><br>


    <div class="order">
      <button type="submit" class="product button clickable">SAVE CHANGES</button>
      <button type="submit" class="product button clickable">CANCEL</button>
    </div>

  </form>
</div>