<div class="collecting-pattern">
  <h3>Product details:</h3>
  <!-- <form #details=ngForm (ngSubmit)="changeDetails(details.value)">
    <div class="details-text">Name:</div>
    <input class="details-input" type="text" name="name" value={{product.name}} ngModel><br>

    <div class="details-text">Description:</div>
    <textarea class="details-input description" type="text" name="description" value={{product.description}} ngModel></textarea><br>

    <div class="details-text">Is active:</div>
    True
    <input type="radio" name="isActive" value="true" [checked]="product.isActive == true" ngModel>
    False
    <input type="radio" name="isActive" value="false" [checked]="product.isActive == false" ngModel><br>

    <div class="details-text">Icon:</div>
    <input class="details-input" type="text" name="icon" value={{product.icon}} ngModel><br>


    <div class="order">
      <button type="submit" class="product button clickable">SAVE CHANGES</button>
      <button class="product button clickable">CANCEL</button>
    </div>

  </form> -->

  <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="name" required>
    </label><br>

    <label>
      Description:
      <textarea type="text" formControlName="description" required></textarea>
    </label>

    <label>
      Icon:
      <input type="text" formControlName="icon">
    </label>
    

    <div formArrayName="priceOfSize">
      <h3>Price of size</h3> <button (click)="addSize()">Add size</button>

      <div *ngFor="let size of priceOfSize.controls; let i=index">
        <!-- The repeated alias template -->
        <label>
          Price of size {{i}}:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>

    

    <button type="submit" [disabled]="!detailsForm.valid">Submit</button>
  </form>

  <hr>

  <p>
    <button (click)="updateDetails()">Update Details</button>
  </p>


  <p>
    Form Value: {{ detailsForm.value | json }}
  </p>


  <p>
    Form Status: {{ detailsForm.status }}
  </p>






</div>